/* Header */

.header {
    height: --header-height;
    background-image: linear-gradient(0, #55efc4, #00b894);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    height: --navbar-height;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

.header__navbar-item {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.header__navbar-item:hover {
    color: #fdcb6e;
    cursor: pointer;
}

.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
}

.header__navbar-item-link:hover {
    color: #fdcb6e;
}

.header__navbar-item-link--bold {
    font-weight: 500;
}

.header__navbar-item--sperator::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid darkslategray;
    height: 12px;
    right: -12px;
    top: 6px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 7px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: black;
}


/* auth form  */

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 10px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
}

.auth-form__btn {
    font-size: 1.5rem;
    font-weight: 700;
    color: lightseagreen;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin: 13px;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    outline: none;
}

.auth-form__input:focus {
    border-color: #ffeaa7;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: lightseagreen;
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
}

.back- {
    margin-right: 10px;
}

.auth-form__social {
    padding: 16px 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.facebook {
    background-color: #3A5A98;
    color: #fff;
}

.google {
    background-color: #fff;
}

.auth-form__social-title {
    font-size: 1.3rem;
    margin: 2px;
    text-align: center;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 15px;
    color: var(--border-color);
}


/* header with search  */

.header-with-search {
    height: --header-with-search-height;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header-logo {
    width: 200px;
}

.header-logo__img {
    width: 150px;
}

.header-search {
    flex: 1;
    background-color: white;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header-cart {
    width: 150px;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.header-search__input {
    height: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.5rem;
    padding-left: 15px;
    flex: 1;
}

.header-search_select {
    padding-right: 15px;
}

.header-search__secelct-lable {
    font-size: 1.5rem;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
}

.header-search__secelct-icon {
    font-size: 1.5rem;
    color: black;
    margin: 0 10px;
}

.header-search_btn {
    background-color: lightseagreen;
    border: none;
    height: 33px;
    width: 70px;
    outline: none;
    margin: 0 3px;
    border-radius: 3px;
    cursor: pointer;
}

.header-search-btn-icon {
    color: white;
    font-size: 1.5rem;
}